
body {
          
            background-color: #e2d293;
           margin: 0;
           padding: 0;
}

label {
    display: block;
    font-size: 1.2em; 
}
input, label {
    width: 100%;
    margin-bottom: 10px;
}


   /* Desktop styles */
   @media (min-width: 601px) {
    body {
        background-color: #7e4e4e; 
    }
    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        background-color: rgb(157, 218, 107); 
        
    }

    .form-container label {
        text-align: center;
        padding-right: 10px;
    }
    .swiper-container {
        width: 100%;
        max-width: 600px; 
        margin: 0 auto;
    }
    .swiper-slide form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    label {
        font-size: 1em; 
        grid-column: 1;
    }

    input, select, textarea {
        grid-column: 2;
        grid-column-start: 2;
        grid-column-end: auto;
    }

}
/* Mobile styles */
@media (max-width: 600px) {
    body {
        background-color: #49a5eb; 
    }

    .form-container label {
        font-size: 1.2em; 
    }

    .form-container input,
    .form-container textarea,
    .form-container .gender-container {
        width: 100%;
    }
}
header {
    margin-bottom: 20px;
    text-align: center;
}
.form-container {
    padding: 20px;
    box-sizing: border-box;
}

.swiper-container {
    width: 100%;
        max-width: 600px; 
        margin: 0 auto;
        
}
.swiper-slide {
   
text-align: center;
padding: 25px;
background-color: #f1f1f1;
border: 0.9px solid #ddd;
    }


.graduated-container {
    display: flex;
    gap: 10px;
}

.graduated-container label {
    flex: 1;
}

.graduated-container input[type="radio"] {
    margin-right: 5px;
}

.input-field {
    margin-bottom: 20px;
}




   
  
